.manage-quiz{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.manage-quiz nav{
  background: #fff;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.manage-quiz h3{
  margin-left: 10px;
}

.manage-quiz tbody, .manage-quiz thead{
  background: #fff;
}