.manage{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
}

.manage nav{
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}

.manage h3{
  margin-left: 10px;
}

.manage tbody, .manage thead{
  background: #fff;
}