.set{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  width: 80%;
}

.set nav{
  background: #fff;
  padding: 20px;
  border-radius: 16px;
}

.set h3{
  margin-left: 10px;
}

.input-group{
  width: 100% !important;
}